.demo-grid {
  background: $light;
  width: 100%;
  float: left;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

.icon-large {
  font-size: 81px;
}

.align-middle {
  display: flex;
  align-items: center;
}

.border-radius {
  border-radius: 12px;
}

.box-shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05), 0 4px 4px rgba(0, 0, 0, 0.15);
}

.padding-none {
  padding: 0 !important;
}

.spacer-bottom {
  margin-bottom: 12px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.color-light {
  color: $light;
}

.color-lighter {
  color: $lighter;
}

.color-dark {
  color: $dark;
}

.color-darker {
  color: $darker;
}

.color-primary {
  color: $primary;
}

.color-danger {
  color: $danger;
}

.background-light {
  background: $light;
}

.background-lighter {
  background: $lighter;
}

.background-dark {
  background: $dark;
}

.background-darker {
  background: $darker;
}

.background-primary {
  background: $primary;
}

.background-danger {
  background: $danger;
}

.text-center {
  text-align: center;
}
